<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <title>PASS 테스트</title>
</head>

<body class="">

<div>
    <!-- 인라인 이벤트 핸들러 대신 id를 부여 -->
    <button id="open-pass-btn">본인인증 열기</button>
</div>

<!-- 본인인증 form chk -->
<form name="form_chk" method="post">
    <input type="hidden" name="m" value="checkplusService">
    <input type="hidden" name="EncodeData" th:value="${encrypted}">
</form>

<script src="/js/pass.js"></script>
<script th:attr="nonce=${scriptNonce}" th:inline="javascript">
  function openPass() {
    const left = screen.width / 2 - 500 / 2;
    const top = screen.height / 2 - 800 / 2;
    window.open('', 'nicePopup', `status=no, menubar=no, toolbar=no, resizable=no, width=500, height=600, left=${left}, top=${top}`);
    document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
    document.form_chk.target = "nicePopup";
    document.form_chk.submit();
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("open-pass-btn").addEventListener("click", openPass);
  });
</script>
</body>
</html>
